
 * {
    box-sizing: border-box;
  }
  h1 {
      color: white;  
  }

  h2 {
      color: white;
  }
  
  p {
      color: white;
  }

  body {
    height: 100%;
    width:100%;
    margin: 0;
    overflow: hidden;
    font-size: 18px;
    line-height: 27px;
    background-color: rgb(134, 148, 177);
  }

nav, .navbar, .navbar-expand-lg,.navbar-light {
    background-color: rgb(236, 235, 235);
    padding-top: 0;
    padding-left: 100px;
    padding-bottom: 0;
    padding-right: 100px;
    
}

.navbar-brand{
    background-color: rgb(134, 148, 177);
}

.mask, .rgba-gradient, .align-items-center {
height: 1000px;
}

.container {
    background-color: rgb(134, 148, 177);
    margin: 60px;
    height: 700px;
    width: 600px;
}

footer {
    background-color: rgb(134, 148, 177);
}

 img {
     margin: 20px;
     margin-right: 40px;
 }