<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Antonio Guedes">
  <title>
    Antonio Guedes
  </title>
  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <!-- Custom styles -->
  <link href="css/app.css" rel="stylesheet">
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav style="background-color:#212529 ;" class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container-fluid">
      
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#technologies">Technologies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#studies">Studies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#history">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#books">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

   <!-- Header -->
   <header class="masthead" id="home">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">My name is Antonio Guedes</div>
        <div class="intro-heading text-uppercase">Nice To Meet You
        </div>
        <a class="btn btn-primary btn-xl text-uppercase" href="./img/About/ANTONIO GUEDES CV.pdf">View Resume</a>
      </div>
    </div>
  </header>

  <!-- Skills -->
    <section class="page-section" id="skills">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">My Main Skills</h2>
            <h3 class="section-subheading text-muted">Here are my main strengths.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fab fa-js-square fa-stack-1x fa-inverse"></i>
                <!--<i class="fab fa-js-square"></i>-->
            </span>
            <h4 class="service-heading">JavaScript / React Development</h4>
            <p class="text-muted column-description">Lately, I have been working as a software developer, building
                web-based systems using mainly JavaScript, React, JQuery, Bootstrap and other related technologies.</p>
            <hr class="d-lg-none">
            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-chart-line fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Business Analysis</h4>
            <p class="text-muted column-description">In a great period of my career, I was responsible for understanding
                business needs and translating them into requirement specifications as well as developing training materials
                and supporting users.</p>
            <hr class="d-md-none">
            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Problem Solving</h4>
            <p class="text-muted column-description">During all my career as an engineer I have been a problem solver. Being able to work with tools
                that were given, I always was able to develop solutions optimizing costs, time and efficiency. Never afraid of commiting mistakes, to 
                learn and develop the desired outcome.
            </p>
            </div>
        </div>
        </div>
    </section>


  <!-- Technologies Section -->
    <section class="page-section" id="technologies">
        <div id="qualificacoes">
            <div class="tech-row">
                <div class="tech-column tech-column-4-4  tech-column-2" id="skills-div">
                    <div class="tech-text tech-module tech-bg-layout-dark tech-text-align-center  tech-text-2">
                        <h2 class="white-title">TECHNOLOGIES</h2>
                    </div>
                    <div class="tech-blurb tech-module tech-bg-layout-dark tech-text-align-center  tech-blurb-4 tech-blurb-position-top">
                        <div class="tech-blurb-content">
                            <div class="tech-main-blurb-image"><img src="./" alt="" class="tech-animation-bottom">
                            </div>
                            <div class="tech-blurb-container">
                                <h5>HERE ARE SOME OF MY TECH SKILLS:</h5>
                                <ul>
                                <li>JavaScript</li>
                                <li>React Js</li>
                                <li>NodeJS</li>
                                <li>JQuery</li>
                                <li>Bootstrap</li>
                                <li>Ajax</li>
                                <li>Heroku</li>
                                <li>API </li>
                                <li>Sequelize</li>
                                <li>CSS</li>
                                <li>HTML5</li>
                                <li>JSON</li>
                                <li>Expressjs</li>
                                <li>MySQL</li>
                                <li>MongoDB</li>
                                <li>GIT</li>
                                <li>ORM</li>
                                <li>Java</li>
                                <li>Maven</li>
                                <li>Django</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- Graduation and Courses -->
  <section class="page-section" id="studies">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">My Most Important and Recent Courses</h2>
          <br><br><br>
          <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-6">
          <span class="fa-4x">
            <img class="course-img" src="./img/Courses/ufmg-logo-225.png" alt="">
          </span>
          <h4 class="service-heading">Bachelor in Engineering - Civil </h4>
          <h5>UFMG - 2015</h5>
          <p class="text-muted column-description">This course gave me a multidisciplinary set of skills from the
            integration of the areas of logical thinking, administration, problem solving, economics and statistics.</p>
            <br>
          <p>More info: <a href="https://ufmg.br/cursos/graduacao/2401/91074">Course page...</a></p>

          <hr>
        </div>
        <div class="col-lg-6">
          <span class="fa-4x">
            
            <img class="course-img" src="./img/Courses/universityofsydneyLogo.jpg" alt="">
          </span>
          <h4 class="service-heading">Full Stack Developer</h4>
          <h5>University of Sydney - 2020</h5>
          <p class="text-muted column-description">This course improved my comprehension of the following technologies:
            HTML5, CSS3, JavaScript, jQuery, Bootstrap, Express.js, React.js, Node.js, Database Theory, MongoDB, MySQL, Command Line, Git and more.</p>
          <p>More info: <a href="https://techbootcamp.sydney.edu.au/wp-content/uploads/sites/3/2019/02/sydney_curriculum_overview_fullstackflex_pt.pdf">Course page...</a></p>
          <hr>
        </div>
        <div class="col-lg-6">
          <span class="fa-4x">
            <img class="course-img" src="./img/About/udemy-2-logo.png" alt="">
          </span>
          <h4 class="service-heading">The Advanced Web Developer Bootcamp Course</h4>
          <h5>Udemy - 2019</h5>
          <p class="text-muted column-description">This course improved my comprehension of the following technologies:
            React 16, Redux, D3, ES2015, Testing, CSS Flexbox, Animations, SVG, AJAX and more.</p>
          <p>More info: <a href="https://www.udemy.com/the-advanced-web-developer-bootcamp/">Course page...</a></p>
          <hr class="d-lg-none">
        </div>
        <div class="col-lg-6">
          <span class="fa-4x">
            <img class="course-img" src="./img/About/udemy-2-logo.png" alt="">
          </span>
          <h4 class="service-heading">Node & React: Fullstack Web Development</h4>
          <h5>Udemy - 2019</h5>
          <p class="text-muted column-description">This course improved my comprehension  to combine the React, Redux, Express, and MongoDB technologies to build
             a fullstack web application.</p>
          <p>More info: <a href="https://www.udemy.com/course/node-with-react-fullstack-web-development/">Course page...</a></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Professional History -->
  <section class="bg-light page-section" id="history">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">My Professional History</h2>
          <h3 class="section-subheading text-muted">Continuous evolution!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li index=1>
              <a href="https://www.hanson.com.au/">
                <div class="timeline-image blue-bkg">
                  <img class="rounded-circle img-link img-fluid" src="./img/About/hansonlogo.png" alt="">
                </div>
              </a>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3>Hanson Australia</h3>
                  <h4>2018-Current</h4>
                  <h4 class="subheading">
                    <i class="fas fa-caret-right hide-big-screens"></i> Plant Manager<i
                      class="fas fa-caret-left hide-small-screens"></i>
                  </h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted justify">Currently Production manager at Hymix (Part of Hanson Australia, one subsidiary company of HeidelbergCement Group) on the Sydney CBD.

                    Accountable for effectively leading the Sydney Metro Production Operations end to end, through the creation & implementation of a strategic plan whilst overseeing a production budget of upwards of $2.3Mil and producing up to 150k m3 of ready mix concrete per year. </div>
              </div>
            </li>
            <li index=2 class="timeline-inverted">
              <a href="https://www.hanson.com.au/">
                <div class="timeline-image">
                  <img class="rounded-circle img-link img-fluid" src="./img/About/hansonlogo.png" alt="">
                </div>
              </a>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3>Hanson Australia</h3>
                  <h4>2017</h4>
                  <h4 class="subheading">
                    <i class="fas fa-caret-right"></i> Management Trainee
                  </h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted justify">The two-year, rotational Sales Management Development Program, combines internal and external management, leadership and technical education with on-the-job experience across a range of functions and operations.</div>
              </div>
            </li>
            <li index=3>
              <div class="timeline-image" id="pause">
                <img class="rounded-circle img-link img-fluid" src="./img/About/hendrick.logo.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div id="pause-heading" class="timeline-heading">
                  <h3>Hendrick International</h3>
                  <h4>2016</h4>
                  <h4 class="subheading">
                    <i class="fas fa-caret-right"></i> Project Manager
                  </h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted justify">Accountable for office fitouts located at Sydney CBD, being the responsible for the safe, profitable and timely management of projects from commencement to completion. </div>
            </li>
            <li index=4 class="timeline-inverted">
              <a href="https://phvengenharia.com.br/">
                <div class="timeline-image">
                  <img class="rounded-circle img-link img-fluid" src="./img/About/phv.logo.jpeg" alt="">
                </div>
              </a>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3>PHV Engenharia Ltda</h3>
                  <h4>2016-2017</h4>
                  <h4 class="subheading">
                    <i class="fas fa-caret-right"></i> Assistant Site Manager
                  </h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted justify">Assisting the Site Manager on four commercial towers construction projects. Working alongside various professionals and creating work schedules to meet project deadlines.</div>
              </div>
            </li>
           <li>
            <a href="./img/About/ANTONIO GUEDES CV.pdf">
              <div class="timeline-image">
                <img class="rounded-circle img-link img-fluid" src="./img/About/resume.jpg" alt="resume icon">
              </div>
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Grid -->
  <section class="page-section" id="books">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Portfolio</h2>
          <br><br><br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="./img/Portfolio/Job-Seeker.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Job seeker app</h4>
            <a href="https://guedesantonio.github.io/JOB-SEARCH-APP/"><p class="text-muted">Deployed Link</p></a>
            <hr class="d-sm-none">
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="./img/Portfolio/Want-to-Watch-Series-Manager.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Want-to-Watch-Series-Manager</h4>
            <a href="https://damp-dusk-40026.herokuapp.com/"><p class="text-muted">Deployed Link</p></a>
            <hr class="d-sm-none">
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="./img/Portfolio/work-day-scheduler.gif" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Work-Day-Scheduler</h4>
            <a href="https://guedesantonio.github.io/Work-Day-Scheduler/"><p class="text-muted">Deployed Link</p></a>
            <hr class="d-sm-none">
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="./img/Portfolio/code-quiz.gif" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Code-Quiz</h4>
            <a href="https://guedesantonio.github.io/Code-Quiz/"><p class="text-muted">Deployed Link</p></a>
            <hr class="d-sm-none">
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="./img/Portfolio/password-generator.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Password-Generator</h4>
            <a href="https://guedesantonio.github.io/Password-Generator/"><p class="text-muted">Deployed Link</p></a>
            <hr class="d-sm-none">
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="./img/Portfolio/Weather-dashboard.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Weather-Dashboard</h4>
            <a href="https://guedesantonio.github.io/Weather-Dashboard/"><p class="text-muted">Deployed Link</p></a>
            <hr class="d-sm-none">
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal7">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="./img/Portfolio/Employee-Tracker.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Employee Tracker</h4>
            <a href="https://drive.google.com/file/d/1hGJstr4FPXz8M642CLtMm9xgpa1vZnmn/view"><p class="text-muted">Click here to see the functionality of this app.</p></a>
            <hr class="d-sm-none">
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal8">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="./img/Portfolio/note-taker.gif" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Note Taker APP</h4>
            <a href="https://fast-brook-67955.herokuapp.com/"><p class="text-muted">Deployed link.</p></a>
            <hr class="d-sm-none">
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal9">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="./img/Portfolio/Team-Profile-Generator.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Team-Profile-Generator</h4>
            <a href="https://drive.google.com/file/d/1KQnTliIxf2PLpnME1_WLn7zAExDcEONh/view"><p class="text-muted">Click here to see the functionality of this app.</p></a>
            <hr class="d-sm-none">
          </div>
        </div>
      </div>
      <br><br>
      <div id="goodreads" class="row">
        <div class="col-md-12">
          <h5>For more: <a href="https://github.com/guedesantonio">GitHub Profile</a></h5>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase white-title">Contact</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required"
                    data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required"
                    data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required"
                    data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" placeholder="Your Message *" required="required"
                    data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send
                  Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

 <!-- Footer -->
 <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-inline">
          <li class="list-inline-item name">
            Antonio Guedes - Website
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://github.com/guedesantonio">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/antoniogguedes/">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="mailto:gguedesantonio@gmail.com">
              gguedesantonio@gmail.com
            </a>
          </li>
          <br>
          <li class="list-inline-item">
            <a href="tel:+61 451 631 417">
              +61 450 628 249
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

  <!-- Portfolio Modals -->

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">IT’s the Job!</h2>
                <img class="img-fluid" src="./img/Portfolio/Job-Seeker.png" alt="">
                <p>
                  A Job searching application that run in the browser and feature dynamically updated HTML and CSS using JavaScript (jQuery). This project is a app with search functionality to find current open positions in the UK for multiple cities and also reccomend relevant books to read for that positons subject. It uses the ADZUNA API to retrieve data for the positions and Google Books API to retrieve data for the books, AJAX to hook into the API to retrieve the data in JSON format, dynamically updated HTML and CSS powered by jQuery, and displays a search history which the user can click to access past positons searched via local storage.
                </p>
                <br>
                  Deployed Link: <a href="https://guedesantonio.github.io/JOB-SEARCH-APP/">Here</a>
                <br><br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Want-to-Watch-Series-Manager</h2>
                <img class="img-fluid" src="./img/Portfolio/Want-to-Watch-Series-Manager.png" alt="">
                <p>
                  Want-to-Watch Movie Manager is a website which allows users to search movies available in the market and keep track of them. </p>
                <br>
                  Deployed Link: <a href="https://damp-dusk-40026.herokuapp.com/">Here</a>
                <br><br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Work-Day-Scheduler</h2>
                <img class="img-fluid" src="./img/Portfolio/work-day-scheduler.gif" alt="">
                <p>
                  A planner for a typical work day (0900 to 1700) created using HTML and JavaScript (jQuery). This web page also incorporates the usage of the Moment.js library to display the date and time. Events can be entered in the row corresponding to the time, which can then be saved. The color/focus of the row changes with the time: grey being time past, light blue being the current hour and dark blue for events later in the day.</p>
                <br>
                  Deployed Link: <a href="https://guedesantonio.github.io/Work-Day-Scheduler/">Here</a>
                <br><br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Code-Quiz</h2>
                <img class="img-fluid" src="./img/Portfolio/code-quiz.gif" alt="">
                <p>
                  An timed code quiz with multiple-choice questions. This app will run in the browser and feature dynamically updated HTML and CSS powered by a JavaScript code. It will also feature a clean and polished user interface and be responsive, ensuring that it adapts to multiple screen sizes. The important part of coding this application was to do it only with pure Javascript and no JS library.</p>
                <br>
                  Deployed Link: <a href="https://guedesantonio.github.io/Code-Quiz/">Here</a>
                <br><br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Password-Generator</h2>
                <img class="img-fluid" src="./img/Portfolio/password-generator.png" alt="">
                <p>
                  An application that generates a random password based on user-selected criteria. This app will run in the browser and feature dynamically updated HTML and CSS powered by a JavaScript code. It will also feature a clean and polished user interface and be responsive, ensuring that it adapts to multiple screen sizes.</p>
                <br>
                  Deployed Link: <a href="https://guedesantonio.github.io/Password-Generator/">Here</a>
                <br><br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Weather-Dashboard</h2>
                <img class="img-fluid" src="./img/Portfolio/Weather-dashboard.png" alt="">
                <p>
                  A weather dashboard that run in the browser and feature dynamically updated HTML and CSS using JavaScript (jQuery). This project is a app with search functionality to find current weather conditions and forecasted weather for multiple cities. It uses the OpenWeather API to retrieve data for the cities, AJAX to hook into the API to retrieve the data in JSON format, dynamically updated HTML and CSS powered by jQuery, and displays a search history which the user can click to access past cities searched via local storage.  </p>
                <br>
                  Deployed Link: <a href="https://guedesantonio.github.io/Weather-Dashboard/">Here</a>
                <br><br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 7 -->
  <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
               <!-- Project Details Go Here -->
               <h2 class="text-uppercase">Employee Tracker</h2>
               <img class="img-fluid" src="./img/Portfolio/Employee-Tracker.png" alt="">
               <p>
                A Node application that prompts the user about his companie employees and provide many diffrent options. To architect and build a solution for managing a company's employees using node, inquirer, and MySQL.</p>
               <br>
               Click here to see the functionality of this app: <a href="https://drive.google.com/file/d/1hGJstr4FPXz8M642CLtMm9xgpa1vZnmn/view">Here</a>
               <br><br>
               <button class="btn btn-primary" data-dismiss="modal" type="button">
                 <i class="fas fa-times"></i>
                 Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 8 -->
  <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Note Taker APP</h2>
                <img class="img-fluid" src="./img/Portfolio/note-taker.gif" alt="">
                <p>
                  An responsive HTML webpage that displays an application that can be used to write, save, and delete notes. This application will use an express backend and save and retrieve note data from a JSON file.</p>
                <br>
                Deployed link: <a href="https://fast-brook-67955.herokuapp.com/">Here</a>
                <br><br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 9 -->
  <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Team-Profile-Generator</h2>
               <img class="img-fluid" src="./img/Portfolio/Team-Profile-Generator.png" alt="">
               <p>
                A Node CLI tested application that prompts the user about his team information and generates an reposnsive HTML webpage that displays summaries for team member.</p>
               <br>
               Click here to see the functionality of this app: <a href="https://drive.google.com/file/d/1KQnTliIxf2PLpnME1_WLn7zAExDcEONh/view">Here</a>
               <br><br>
               <button class="btn btn-primary" data-dismiss="modal" type="button">
                 <i class="fas fa-times"></i>
                 Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Farebase JS
  <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase.js"></script> -->

  <!-- Bootstrap core JavaScript -->
  
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script> -->
  <script src="vendor/jquery/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/app.js"></script>

</body>

</html>